// np-icon-

@font-face {
    font-family: "np-icon"; /* Project id 2481366 */
    src: url("//at.alicdn.com/t/font_2481366_1re6gsus72y.woff2?t=1620697048131") format("woff2"),
        url("//at.alicdn.com/t/font_2481366_1re6gsus72y.woff?t=1620697048131") format("woff"),
        url("//at.alicdn.com/t/font_2481366_1re6gsus72y.ttf?t=1620697048131") format("truetype");
}

.np-icon-dangqian:before {
    content: "\e64a";
}

.np-icon-dangqianlouceng:before {
    content: "\e62c";
}

.np-icon-baocun:before {
    content: "\e645";
}

.np-icon-qingli:before {
    content: "\e62b";
}

.np-icon-link:before {
    content: "\e711";
}

.np-icon-nested:before {
    content: "\e601";
}

.np-icon-file:before {
    content: "\e636";
}

.np-icon-404:before {
    content: "\e600";
}

.np-icon-tubiao:before {
    content: "\e670";
}

.np-icon-huanfu:before {
    content: "\e65c";
}

.np-icon-fuzhi:before {
    content: "\e60f";
}

.np-icon-zip:before {
    content: "\e63f";
}

.np-icon-bg-pdf:before {
    content: "\e639";
}

.np-icon-icon:before {
    content: "\e623";
}

.np-icon-excel:before {
    content: "\e605";
}
